.page-layout, body, html {
    height: 100%
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

* {
    margin: 0;
    padding: 0
}

h1, h2, h3 {
    /*font-family: 'San Francisco Semibold';*/
    /*font-family: 'Roboto';*/
    font-weight: bolder;
    font-size: 1.3em;
    color: #2c2c2c
}

h2, h3 {
    font-size: 1.15em
}

h3 {
    /*font-family: 'San Francisco Thin';*/
    /*font-family: 'Roboto';*/
    font-weight: lighter;
    font-size: .9em
}

/* preloader */
.bubblingG {
    text-align: center;
    width: 76px;
    height: 47px;
    margin: auto;
    position: relative;
    top: 20%;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    margin: 24px auto;
    background: rgb(240, 201, 101);
    border-radius: 47px;
    -o-border-radius: 47px;
    -ms-border-radius: 47px;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    animation: bubblingG 1.235s infinite alternate;
    -o-animation: bubblingG 1.235s infinite alternate;
    -ms-animation: bubblingG 1.235s infinite alternate;
    -webkit-animation: bubblingG 1.235s infinite alternate;
    -moz-animation: bubblingG 1.235s infinite alternate;
}

#bubblingG_1 {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

#bubblingG_2 {
    animation-delay: 0.3695s;
    -o-animation-delay: 0.3695s;
    -ms-animation-delay: 0.3695s;
    -webkit-animation-delay: 0.3695s;
    -moz-animation-delay: 0.3695s;
}

#bubblingG_3 {
    animation-delay: 0.739s;
    -o-animation-delay: 0.739s;
    -ms-animation-delay: 0.739s;
    -webkit-animation-delay: 0.739s;
    -moz-animation-delay: 0.739s;
}

@keyframes bubblingG {
    0% {
        width: 9px;
        height: 9px;
        background-color: rgb(0, 0, 0);
        transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        transform: translateY(-20px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 9px;
        height: 9px;
        background-color: rgb(0, 0, 0);
        -o-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        -o-transform: translateY(-20px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 9px;
        height: 9px;
        background-color: rgb(0, 0, 0);
        -ms-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        -ms-transform: translateY(-20px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 9px;
        height: 9px;
        background-color: rgb(0, 0, 0);
        -webkit-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes bubblingG {
    0% {
        width: 9px;
        height: 9px;
        background-color: rgb(0, 0, 0);
        -moz-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        -moz-transform: translateY(-20px);
    }
}

/* end preloader */
.page-header {
    position: fixed;
    z-index: 9;
    width: 375px;
    height: 62px;
    border-width: 0 0 1px;
    border-style: solid;
    border-right: 1px solid #cdc9c5;
    border-bottom: 1px solid #ededed;
    border-radius: 0;
    background-color: #f8f8f8;
    -webkit-box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23);
    -moz-box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23);
    box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23);
    -ms-box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23);
    -o-box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23)
}

.progect-logo {
    position: absolute;
    top: 15px;
    display: block;
    width: 34px;
    height: 35px;
    margin-left: 15px;
    border-radius: 2px;
    background-image: url(../images/logo.png);
    background-size: 34px 35px
}

.employee-id {
    /*font-family: 'San Francisco Regular';*/
    /*font-family: 'Roboto';*/
    font-weight: normal;
    font-size: 21px;
    margin: 20px 0 0;
    text-align: center;
    color: #000
}

.employee-card, .route-container {
    position: fixed;
    z-index: 1;
    top: 62px;
    opacity: .9;
    border-width: 0;
    border-color: #b366b3;
    border-right: 1px solid #cdc9c5;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23);
    -moz-box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23);
    box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23);
    -ms-box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23);
    -o-box-shadow: 4px 0 3px 0 rgba(199, 196, 196, .23)
}

.route-container {
    width: 375px;
    height: 100%
}

.route-container h1 {
    margin-top: 0
}

.employee-card {
    width: 345px;
    padding: 10px 15px
}

.employee-avatar {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #dedede;
    border-radius: 30px
}

.employee-card-index {
    position: absolute;
    margin-left: 72px
}

.employee-counts, .employee-name, .employee-rating {
    float: left
}

.employee-name {
    /*font-family: 'San Francisco Bold';*/
    /*font-family: 'Roboto';*/
    font-weight: bold;
    font-size: 18px;
    color: #2c2c2c
}

.employee-counts {
    /*font-family: 'San Francisco Regular';*/
    /*font-family: 'Roboto';*/
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    padding-right: 12px;
    padding-left: 12px;
    color: #2c2c2c
}

.rating-list {
    float: left;
    margin: 0;
    padding: 3px 0 0 25px;
    list-style-type: none
}

.rating-list li {
    float: left;
    margin-right: 2px
}

.icon-star {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/star.svg);
    background-size: 16px 16px
}

.icon-fb, .icon-instagram, .icon-telegram, .icon-twitter {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../images/icons/facebook.svg);
    background-size: 30px 30px
}

.icon-instagram, .icon-telegram, .icon-twitter {
    background-image: url(../images/icons/twitter.svg)
}

.icon-instagram, .icon-telegram {
    background-image: url(../images/icons/instagram.svg)
}

.icon-telegram {
    background-image: url(../images/icons/telegram.svg)
}

.vecicle-id, .vecicle-mark {
    /*font-family: 'San Francisco Regular';*/
    /*font-family: 'Roboto';*/
    font-weight: normal;
    font-size: 14px;
    clear: both;
    padding-top: 3px
}

.vecicle-id {
    font-size: 15px
}

.route-index {
    padding: 0 14px
}

.route-index-container {
    overflow-y: auto;
    height: calc(100vh - 180px);
    margin-top: 15px
}

.order-list {
    margin: 0;
    padding: 0 0 0 15px;
    list-style-type: none
}

.order-list li {
    display: table;
    width: 100%;
    height: 98px
}

.order-list li i {
    float: left;
    margin-top: 36px
}

.order-list li i:after {
    display: inline-block;
    float: left;
    width: 1px;
    height: 74px;
    margin-top: 24px;
    margin-left: 12px;
    content: '';
    background-color: #dedede
}

.order-list li:last-child i:after, .order-list li:last-child:before {
    display: none
}

.order-list-item-index {
    display: table-cell;
    width: 100%;
    padding-left: 12px;
    vertical-align: middle
}

.order-list li h2 {
    margin-top: 0;
    margin-bottom: 0
}

.order-list li p {
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 0
}

.order-address, .order-end-time, .order-start-time {
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/radio-gray.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px
}

.order-address, .order-end-time {
    background-image: url(../images/icons/radio-green.svg)
}

.order-end-time {
    background-image: url(../images/icons/radio-red.svg)
}

.radio-gray, .radio-green, .radio-red {
    display: inline-block;
    width: 24px;
    height: 24px;
    content: '';
    background-image: url(../images/icons/radio-gray.svg);
    background-size: 24px 24px
}

.radio-green, .radio-red {
    background-image: url(../images/icons/radio-green.svg)
}

.radio-red {
    background-image: url(../images/icons/radio-red.svg)
}

.order-list-item {
    display: block
}

.order-item-index {
    /*font-family: 'San Francisco Regular';*/
    /*font-family: 'Roboto';*/
    font-weight: normal;
    font-size: 16px;
    color: #2c2c2c
}

.order-result-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid #ededed
}

.order-result-list li {
    /*font-family: 'San Francisco Regular';*/
    /*font-family: 'Roboto';*/
    font-weight: normal;
    font-size: 16px;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #ededed
}

.order-result-list li span.bold {
    /*font-family: 'San Francisco Semibold';*/
    /*font-family: 'Roboto';*/
    font-weight: bolder;
    color: #000
}

.share-trip-container {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 345px;
    text-align: center
}

.share-trip-container h3 {
    margin-top: 0;
    margin-bottom: 15px
}

.share-trip-list, .share-trip-list li {
    display: inline-block;
    margin: 0 0 10px;
    padding: 0
}

.share-trip-list li {
    margin: 0 15px 0 0
}

.share-trip-list li:last-child {
    margin-right: 0
}

.page-404-layout .page-header {
    width: 100%;
    border-right: none;
    box-shadow: none
}

.page-404-layout .sidebar-container-index {
    width: 100%
}

.page-walkthroughs {
    position: fixed;
    z-index: 9;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-image: url(../images/bg/bg-walkthroughs.png);
    background-repeat: repeat-x;
    background-position: left
}

.page-404-layout h1 {
    /*font-family: 'San Francisco Thin';*/
    /*font-family: 'Roboto';*/
    font-weight: lighter;
    font-size: 32px;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #b3b3b1
}

.page-404-layout .route-container {
    top: 63px;
    width: 100%;
    border-right: none;
    box-shadow: none
}

.btn-show-modal {
    position: absolute;
    display: none;
    width: 25px;
    height: 18px;
    margin-top: 22px;
    margin-left: 15px;
    background-image: url(../images/icons/nav-show.svg);
    background-size: 25px 18px
}

@media screen and (min-width: 0) and (max-width: 970px) {
    .employee-card, .page-404-layout .route-container, .page-header {
        width: 100%;
        border-right: none;
        box-shadow: none
    }

    .route-container {
        position: absolute;
        display: none;
        width: 100%;
        margin-top: -62px
    }

    .route-index {
        padding-top: 62px
    }

    .progect-logo {
        position: absolute;
        right: 15px
    }

    .btn-show-modal {
        display: block
    }

    .share-trip-container {
        position: relative;
        z-index: 1;
        bottom: 0;
        width: 100%;
        margin-top: 60px;
        text-align: center
    }

    .route-index-container {
        height: inherit
    }

    .page-layout.page-404-layout .progect-logo {
        position: absolute;
        top: 15px;
        display: block;
        width: 32px;
        height: 32px;
        margin-left: 15px;
        border-radius: 2px;
        background-image: url(../images/logo.png);
        background-size: 32px 32px
    }

    .page-404-layout .route-container {
        top: 63px;
        display: block
    }
}

.modal-close, .modal-content {
    position: absolute;
    display: none
}

.modal-content {
    z-index: 1;
    top: 144px;
    left: 0;
    overflow: auto;
    width: 100%;
    background-color: #fefefe
}

.modal-close {
    z-index: 2;
    width: 18px;
    height: 18px;
    margin-top: 22px;
    margin-left: 18px;
    background-image: url(../images/icons/close.svg);
    background-size: 18px 18px
}

.close:focus, .close:hover {
    cursor: pointer;
    text-decoration: none;
    color: #000
}

.location-index, .map-canvas {
    height: 100%
}

/* map */
#map {
    height: 100%;
    float: left;
    width: 100%;
}

#directions-panel {
    margin-top: 20px;
    background-color: #FFEE77;
    padding: 10px;
}

.h-line:after {
    display: block;
    height: 3px;
    width: 40px;
    content: '';
}

/* + / - container */
.gmnoprint {
    display: none;
}
